{% extends "base.html" %}
{%block title %} Intro {% endblock%}

{%block content%}
    <h1>Introduction</h1>
    <p>=======================================================================</p>
    <p>Welcome to MASH! This Classic Game Will Test Your Luck And Tell You Your</p>
    <p>Future.</p>
    <p>=======================================================================</p>

    <form action="#" method="post">
        <p>Name:</p>
        <p><input type="text" name="nm"/></p>
        <p><input type="submit" value="start"></p>
    </form>

{%endblock%}